<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns 		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "laitaliana.com.mx.Prueba"
		versionCode = "1"
		version		= "1.0" >

		<name>Prueba 1</name>
	<description>Prueba</description>
	
	<preference name="phonegap-version" value="3.7.0" />
	<plugin name="cordova-plugin-geolocation" />
</widget>